.wrapper {
    perspective: 1200px;
    perspective-origin: 50% 200px;
}

.sphere {
    position: relative;
    margin: 0 auto;
    transform-style: preserve-3d;
}

.sphere>div {
    border: solid 3px var(--accent-color);
    border-radius: 50%;
    opacity: 1;
    position: absolute;
}

@keyframes spin {
    0% {
        transform: rotateY(0deg) rotateZ(20deg);
    }

    50% {
        transform: rotateY(180deg) rotateZ(20deg);
    }

    100% {
        transform: rotateY(360deg) rotateZ(20deg);
    }
}

.sphere {
    animation: spin 60s infinite linear;
    transform: rotateX(45deg);
}

.aboutMe-section::before {
    background: url('/assets/divider/divider.svg') repeat-x top;
    content: "";
    height: 39px;
    left: 0;
    position: absolute;
    right: 0;
}