/* Container-ul scrollabil */
.scroll-container::-webkit-scrollbar {
    height: 10px;
}

.scroll-container::-webkit-scrollbar-track {
    background: var(--primary-color);
    /* fundalul pistei */
    border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    /* culoarea thumb-ului */
    border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
    opacity: 0.5;
}